<!doctype html>
<html ng-app='samiran' ng-init = "countries = [{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}];quantity = 1;cost = 30; student = {firstname:'Mahesh',lastname:'Parashar',rollno:101};marks = [80,90,75,73,60]">
   
   <head>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	  <script src = "js/mainApp.js"></script>
          <script src = "js/studentController.js"></script>
   </head>
   
   <body>
      <div>
         <label>Name:</label>
         <input type = "text" ng-model = "yourName" placeholder = "Enter a name here">
         <hr />
         
         <h1>Hello {{yourName}}!</h1>
		 <p>Hello <span ng-bind = "yourName"></span>!</p>
      </div>
	  <div ng-controller="HelloController">
	  Hi I am {{x.title}} 
	  </div>
	  
	   
	  
	  
	  
	  
	  <p>List of country</p>
	  <ol>
	  <li ng-repeat="c in countries">
	  
	  {{'Country:'+c.name+',Locale:'+c.locale}}
	  </li>
	  </ol>
	  
	  
	  <p>Hello {{student.firstname + " " + student.lastname}}!</p>
         <p>Expense on Books : {{cost * quantity}} Rs</p>
         <p>Roll No: {{student.rollno}}</p>
         <p>Marks(Math): {{marks[0]}}</p>
		  <p>Marks(Math): {{marks[1]}}</p>
		   <p>Marks(Math): {{marks[2]}}</p>
		 
		<div  ng-controller = "studentController">
         Enter first name: <input type = "text" ng-model = "student.firstName"><br><br>
         Enter last name: <input type = "text" ng-model = "student.lastName"><br>
         <br>
		 Enter fees:<input type = "text" ng-model = "student.fees">  <br>
         
        <p> You are entering: {{student.fullName()}}</p>
		<p> Name in Upper Case: {{student.fullName() | uppercase}}</p>
		<p> Name in Upper Case: {{student.fullName() | lowercase}}</p>
		<p>fees: {{student.fees | currency}}</p>
		<ul>
                     <li ng-repeat = "subject in student.subjects | filter: subjectName |orderBy:'marks'">
                        {{ subject.name + ', marks:' + subject.marks }}
                     </li>
                  </ul>
				  
				 <p>Inclide:</p> 
				  <div ng-include = "'main.htm'"></div>
         <div ng-include = "'subjects.htm'"></div>
         </div>		
		 
		 <p></p>
		 <table border = "0">
            <tr>
               <td><input type = "checkbox" ng-model = "enableDisableButton">Disable Button</td>
               <td><button ng-disabled = "enableDisableButton">Click Me!</button></td>
            </tr>
            
            <tr>
               <td><input type = "checkbox" ng-model = "showHide1">Show Button</td>
               <td><button ng-show = "showHide1">Click Me!</button></td>
            </tr>
            
            <tr>
               <td><input type = "checkbox" ng-model = "showHide2">Hide Button</td>
               <td><button ng-hide = "showHide2">Click Me!</button></td>
            </tr>
            
            <tr>
               <td><p>Total click: {{ clickCounter }}</p></td>
               <td><button ng-click = "clickCounter = clickCounter + 1">Click Me!</button></td>
            </tr>
         </table>
		 
		 
		 <div ng-controller = "studentController2">
		  <form name = "studentForm" novalidate>
            <table border = "0">
               <tr>
                  <td>Enter first name:</td>
                  <td><input name = "firstname" type = "text" ng-model = "firstName" required>
                     <span style = "color:red" ng-show = "studentForm.firstname.$dirty && studentForm.firstname.$invalid">
                        <span ng-show = "studentForm.firstname.$error.required">First Name is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Enter last name: </td>
                  <td><input name = "lastname"  type = "text" ng-model = "lastName" required>
                     <span style = "color:red" ng-show = "studentForm.lastname.$dirty && studentForm.lastname.$invalid">
                        <span ng-show = "studentForm.lastname.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Email: </td><td><input name = "email" type = "email" ng-model = "email" length = "100" required>
                     <span style = "color:red" ng-show = "studentForm.email.$dirty && studentForm.email.$invalid">
                        <span ng-show = "studentForm.email.$error.required">Email is required.</span>
                        <span ng-show = "studentForm.email.$error.email">Invalid email address.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>
                     <button ng-click = "reset()">Reset</button>
                  </td>
                  <td>
                     <button ng-disabled = "studentForm.firstname.$dirty &&
                        studentForm.firstname.$invalid || studentForm.lastname.$dirty &&
                        studentForm.lastname.$invalid || studentForm.email.$dirty &&
                        studentForm.email.$invalid" ng-click="submit()">Submit</button>
                  </td>
               </tr>
					
            </table>
         </form>
		 </div>
		 
		 <!-- <div ng-controller = "studentController3">
		  <table>
            <tr>
               <th>Name</th>
               <th>Roll No</th>
               <th>Percentage</th>
            </tr>
         
            <tr ng-repeat = "student in students">
               <td>{{ student.Name }}</td>
               <td>{{ student.RollNo }}</td>
               <td>{{ student.Percentage }}</td>
            </tr>
         </table>
		 </div>
		   -->
		  <div  ng-controller="myCtrl"> 

			<p>Today's welcome message is:</p>
			<h1>{{myWelcome}}</h1>

		  </div>
		   
		 <script>
        /* function studentController3($scope,$http) {
            var url = "http://localhost/Angular/data.txt";
         
            $http.get(url).success( function(response) {
               $scope.students = response;
            });
         } */
      </script>
		 
		
	  <script>
	  /* 
         var mainApp = angular.module("samiran", []);
		 
		  mainApp.controller("HelloController",function($scope){
		  $scope.x={};
		   $scope.x.title='Samiran rahaman@!';
		  });
         
		 
         mainApp.controller('studentController', function($scope) {
            $scope.student = {
               firstName: "Mahesh",
               lastName: "Parashar",
			   fees:500,
             
			 subjects:[
                  {name:'Physics',marks:70},
                  {name:'Chemistry',marks:80},
                  {name:'Math',marks:65}
               ],
               
               fullName: function() {
                  var studentObject;
                  studentObject = $scope.student;
                  return studentObject.firstName + " " + studentObject.lastName;
               }
            };
         }); 
		 
		 http://www.tutorialspoint.com/angularjs/angularjs_ajax.htm
		 */
		 
		 
      </script>
     
   </body>
</html>